<div class="menu-top-menu-container">
<ul id="top-menu" class="menu">
  <li id="customer-home-menu-item" class="top-menu-item"><%= link_to('Home', customer_path, class: 'top-menu-item') %></li>
  <li id="update-organization-menu-item" class="top-menu-item"><%= link_to('Update Organization Profile', edit_customer_organization_path, class: 'top-menu-item') %></li>
  <li id="update-profile-menu-item" class="top-menu-item"><%= link_to('Update Profile', customer_path, class: 'top-menu-item') %></li>
  <li id="buy-competitions-menu-item" class="top-menu-item"><%= link_to('Purchase Competitions', customer_path, class: 'top-menu-item') %></li>
  <li id="login-logout-menu-item" class="top-menu-item">
    <% if customer_signed_in? %>
      <%= link_to('Logout', destroy_customer_session_path, method: :delete, class: 'top-menu-item') %>
    <% else %>
      <%= link_to('Login', new_customer_session_path, class: 'top-menu-item') %>
    <% end %></li>
</ul>
</div>

 

