<p id="notice"><!-- %= notice % --></p>

<h3> Organization Profile:</h3>
<dl>
  <dt>Name:</dt>
  <dd><%= @customer.organization ? @customer.organization.name : "No Organization Defined" %></dd>
  <dt>Phone:</dt>
  <dd><%= @customer.organization ? @customer.organization.phone : "  " %></dd>
  <dt>Website:</dt>
  <dd><%= @customer.organization ? @customer.organization.website : "  " %></dd>
</dl>
<hr/>
<%= @customer.organization.name %>
has <%= @customer.credits.count%> credits
<br/>
<table>
  <tr> <td>How Obtained</td><td>When</td></tr>
  <% @customer.credits.each do |cr| %>
    <tr>
    <td><%= cr.origin %></td>
    <td><%= cr.created_at %></td>
    </tr>
  <% end %>
</table>
<hr/>
<h3><%= @customer.organization.name %> Competitions</h3>
